In [2]:
#What is the length of the salaries list.

salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']
len(salaries)

7

In [ ]:
#Retrieve the third salary in the list by using index

salaries = ['20k', '40k', '50k', '60k', '35k', '89k', '40k']
salaries[2]

In [ ]:
#Slice the salaries list to get only the middle three salaries.

salaries = ['20k', '40k', '50k', '60k', '35k', '89k', '40k']
salaries[-1]

In [ ]:
#Slice the salaries list to get only the middle three salaries.

salaries = ['20k', '40k', '50k', '60k', '35k', '89k', '40k']
salaries[2:5]

In [ ]:
#Add a new salary to the list, ‘100k’ by using append() method.

salaries = ['20k', '40k', '50k', '60k', '35k', '89k', '40k']
salaries.append('100k')      
salaries

In [ ]:
#Add a new salary to the list, ‘120k’ without method.

salaries = ['20k', '40k', '50k', '60k', '35k', '89k', '40k']
salaries+['120k']

In [ ]:
#Replace the third salary in the list with '55k' and print the updated list.

salaries = ['20k', '40k', '50k', '60k', '35k', '89k', '40k']
salaries[2]            
salaries[2] ='55k'    
salaries

In [ ]:
 #Count how many times '40k' appears in the list

salaries = ['20k', '40k', '50k', '60k', '35k', '89k', '40k']
salaries.count('40k')

In [ ]:
#Insert a new salary at the second position

salaries = ['20k', '40k', '50k', '60k', '35k', '89k', '40k']
salaries.insert(1,'25k')          
salaries

In [ ]:
 #Reverse the order of the salaries list with method

salaries = ['20k', '40k', '50k', '60k', '35k', '89k', '40k']
salaries.reverse()               
salaries

In [ ]:
#Reverse the order of the salaries list without method.

salaries = ['20k', '40k', '50k', '60k', '35k', '89k', '40k']
salaries = salaries[::-1]           
salaries