 <!-- Q1. my_tuple = ( (1, 2, 3), [4, 5, 6], ("apple", "banana", "cherry"), [7, 8, 9] )
 • Print all elements from my_tuple on a new line (using for loop)
 • Create a new tuple by concatenating the first and last elements of my_tuple -->

In [4]:
my_tuple =((1,2,3),[4,5,6],("apple", "banana", "cherry"), [7, 8, 9] )
for elements in my_tuple:
    print(elements)
newTuple = my_tuple[0]+tuple(my_tuple[-1])
print(newTuple)

(1, 2, 3)
[4, 5, 6]
('apple', 'banana', 'cherry')
[7, 8, 9]
(1, 2, 3, 7, 8, 9)

 <!-- Q2. inventory = {"The Great Gatsby": {"price": 10.99, "quantity": 5}, "Rich dad poor dad": {"price":
 8.99, "quantity": 8}, "Harry Potter": {"price": 12.50, "quantity": 2}, }
 • Add a new book in inventory using method and get all book titles using method
 • Remove a book if it's out of stock -->

In [13]:
inventory = {
    "The Great Gatsby": {"price": 10.99, "quantity": 5},
    "Rich dad poor dad": {"price": 8.99, "quantity": 8},
    "Harry Potter": {"price": 12.50, "quantity": 2},
}
inventory["The indus Valley Civilization"] = {"price": 18.0, "quantity": 0}
book_titles = inventory.keys()
print(f"book_titles: {book_titles}")

outOfStockBooks = []
for book, details in inventory.items():
    if details["quantity"] == 0:
       outOfStockBooks.append(book)
for book in outOfStockBooks:
    del inventory[book]

print("update inventory:", inventory)

book_titles: dict_keys(['The Great Gatsby', 'Rich dad poor dad', 'Harry Potter', 'The indus Valley Civilization'])
update inventory: {'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 2}}

 <!-- Q3. An ecommerce store stores information about its products in a nested dictionary. The outer
 dictionary uses product IDs as keys, and the inner dictionary stores product details like name,
 category, price, and stock quantity.
 products = { 101: {"name":"Laptop", "categor": "Electronics", "price";: 1200, "stock": 50}, 102:
 {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "";Coffee Maker",
 "category": "Home Appliances", "price": 80, "stock": 30} }
 • Increase the stock of the "Shirt" product (add 50 more units)
 • Add a new product (e.g., "Smartphone") -->

In [16]:
products = {
     101: {"name":"Laptop", "categor": "Electronics", "price": 1200, "stock": 50}, 
     102:{"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 
     103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30}
}

In [19]:
# • Increase the stock of the "Shirt" product (add 50 more units)
products[102]["stock"]+=50
print(products)

{101: {'name': 'Laptop', 'categor': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}}

In [20]:
# • Add a new product (e.g., "Smartphone")

products[104]={"name":"Smartphone", "category": "electronics","price" : 100000, "stock": 10}
print(products)

{101: {'name': 'Laptop', 'categor': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}, 104: {'name': 'Smartphone', 'category': 'electronics', 'price': 100000, 'stock': 10}}

 <!-- Q4. You are given a list that contains some duplicate items. Remove the duplicates by converting the
 list to a set.
 shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"] -->

In [21]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]
modified_list = set(shopping_list)
print(modified_list)

{'apple', 'banana', 'grape', 'orange'}

 <!-- Q5. You are managing a list of students enrolled in two different courses. You need to perform
 various set operations to understand the student enrollment. Task: Create two sets: one for students
 in "Course A" and one for students in "Course B". Find the students who are in "Course A" but not in
 "Course B" (difference). Find students who are only in one of the two courses (symmetric
 difference). course_a = {"John";,"Alice", "Bob", "David"} course_b = {"Alice", "Eve","Charlie",
 "David"}
 • Find students who are in Course A but not in Course B (difference)
 • Find students who are only in one of the two courses (symmetric difference) -->

In [23]:
course_a = {"John","Alice", "Bob", "David"}
course_b = {"Alice", "Eve","Charlie","David"}

In [24]:
# • Find students who are in Course A but not in Course B (difference)
differnce = course_a - course_b
print(differnce)

{'Bob', 'John'}

In [25]:
# • Find students who are only in one of the two courses (symmetric difference)
symmetric_difference = course_a ^ course_b
print(symmetric_difference)

{'John', 'Eve', 'Charlie', 'Bob'}

 <!-- Q6. Write a Python program that calculates the sum of all even numbers between 1 and 50
 (inclusive) using a for loop.
 Hint
 1. Initialize a variable to hold the sum (e.g., sum_of_evens).
 2. Use a for loop to iterate through all numbers from 1 to 50.
 3. Inside the loop, check if the number is even.
 4. If the number is even, add it to sum_of_evens.
 5. After the loop finishes, print the total sum of all even numbers between 1 and 50. -->

In [27]:
sum_of_evens = 0
for num in range(1,50):
     if num % 2==0:
         sum_of_evens+=num
print(sum_of_evens)

600

 <!-- Q7. Write a Python program that prints the multiplication table for a given number (between 1 and
 10) using a for loop.

 Hint:
 1. Ask the user for a number between 1 and 10 .
 2. Use a for loop to iterate through the numbers from 1 to 10.
 3. For each iteration, calculate the product of the given number and the current number in the
 loop.
 4. Print the result in a readable format (e.g., 5 x 1 = 5).
 5. Ensure the program works correctly for any number between 1 and 10. -->

In [31]:
num = int(input("enter number"))
for i in range(1,11):
    product = num *i
    print(f"{num} x {i} = {product}")

enter number 7

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

 <!-- Q8. Power of a Number
 Write a Python program that takes a number and prints the powers of the number (starting from 1
 to 10) using a while loop. For example, if the user inputs 3, the output should be:
 3^1 = 3
 3^2 = 9
 3^3 = 27
 ... up to 3^10. -->

In [32]:
num = int(input("enter a number: "))
power = 1
while power<= 10:
    print(f"{num}^{power} = {num**power}")
    power+=1

enter a number:  10

10^1 = 10
10^2 = 100
10^3 = 1000
10^4 = 10000
10^5 = 100000
10^6 = 1000000
10^7 = 10000000
10^8 = 100000000
10^9 = 1000000000
10^10 = 10000000000

 <!-- Q9. Problem Statement: Write a Python program that takes an integer input from the user and
 counts down from that number to 0. The program should display the current number at each step
 until it reaches 0, at which point it should print a message indicating the countdown is finished
 Output Hint:
 Enter a number to start the countdown: 3
 3
 2
 1
 0
 Countdown finished! -->

In [33]:
count = int(input("enter a number to start countdown: "))
while count>=0:
    print(count)
    count-=1
print("countdown finished")

enter a number to start countdown:  5

5
4
3
2
1
0
countdown finished

 <!-- Q10. Write a Python program that takes an integer input n from the user and generates a right-
 angled triangle pattern of stars (*) with n rows. The first row should contain 1 star, the second row 2
 stars, the third row 3 stars, and so on until the nth row.
 Ensure the stars in each row are separated by spaces, and each row starts on a new line.
 Pattern:
 *
 **
 ***
 ****
 ***** -->

In [37]:
n = int(input("enter  the numbers of rows: "))
for i in range(1,n+1):
    print("*" * i)

enter  the numbers of rows:  100

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************
********************
*********************
**********************
***********************
************************
*************************
**************************
***************************
****************************
*****************************
******************************
*******************************
********************************
*********************************
**********************************
***********************************
************************************
*************************************
**************************************
***************************************
****************************************
*****************************************
******************************************
*******************************************
********************************************
*********************************************
**********************************************
***********************************************
************************************************
*************************************************
**************************************************
***************************************************
****************************************************
*****************************************************
******************************************************
*******************************************************
********************************************************
*********************************************************
**********************************************************
***********************************************************
************************************************************
*************************************************************
**************************************************************
***************************************************************
****************************************************************
*****************************************************************
******************************************************************
*******************************************************************
********************************************************************
*********************************************************************
**********************************************************************
***********************************************************************
************************************************************************
*************************************************************************
**************************************************************************
***************************************************************************
****************************************************************************
*****************************************************************************
******************************************************************************
*******************************************************************************
********************************************************************************
*********************************************************************************
**********************************************************************************
***********************************************************************************
************************************************************************************
*************************************************************************************
**************************************************************************************
***************************************************************************************
****************************************************************************************
*****************************************************************************************
******************************************************************************************
*******************************************************************************************
********************************************************************************************
*********************************************************************************************
**********************************************************************************************
***********************************************************************************************
************************************************************************************************
*************************************************************************************************
**************************************************************************************************
***************************************************************************************************
****************************************************************************************************